
        @layer base { body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; } }
        @layer base {
             .container { 
                max-width: 1280px; 
                margin-left: auto; 
                margin-right: auto; 
                padding-left: 1rem; 
                padding-right: 1rem; }
             }
             .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out, padding 0.3s ease-out;
        }
        
        .accordion-content.active {
            max-height: 500px;
            transition: max-height 0.4s ease-in, padding 0.3s ease-in;
        }